/* Global variable */
:root{
  --sideBGcolor:#0000FF;
  --themeColor:#FFBF00;
  --textColor:#353535;
  --iconBGcolor:#2c2f3f;
  --bgColor:#f7f7f7;
}
/*== START OF HERO SECTION ==*/
/* .hero:nth-child(n+1) {
  text-align: start;
} */
.hero .hero-title {
  text-align: start;
}

.hero-title div:nth-child(1) {
  font-size: 2em;
  margin-bottom: 1.5em;
}
.hero-title div:nth-child(2) {
  font-size: 6.65em;
  font-weight: 600;
  margin-bottom: .5em;
  text-align: center;
}
.hero-title div:nth-child(3) {
  font-size: 2.65em;
  font-family: sans-serif;
  font-weight: 300;
}
.hero-title div:nth-child(n+3) {
  margin-bottom: 1em;
}
.hero-title div:nth-child(n+4) {
  font-size: 1.35em;
}
.hero-title div:nth-child(5) {
  margin-bottom: 8em;
}
/*== END OF HERO SECTION ==*/

/*== START OF TEAM SECTION ==*/
.team-sec {
}
.team-sec .team-intro {
  font-size: 3.5em;
  margin-bottom: 1.5em;
}
.team-sec .button_project {
  flex-direction: column;
  transition: 0.3s;
}
.team-sec .button_project div {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1em;
}
.team-sec .button_project:hover {
  background-color: var(--sideBGcolor);
  color: var(--bgColor);

}
.team-sec .button_project a {
  font-size: 1.3rem;
  font-weight: 500;

}
.team-close-statement {
  font-size: 3.5em;
  margin: 1em 0;
}


.team_gallery {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5em;
}
.team_gallery > * {
  /* position: absolute; */
  height: 35em;
  width: 20em;
  border-top-left-radius: 6.5rem;
  border-bottom-right-radius: 6.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.staff_1 {
  background-image: url(../images/staff/img-1.JPG);
}
.staff_2 {
  background-image: url(../images/staff/img-2.JPG);  
}
.staff_3 {
  background-image: url(../images/staff/img-3.JPG);  
}

.staff_4 {
  background-image: url(../images/staff/img-4.JPG);
}

.staff_5 {
  background-image: url(../images/staff/img-5.JPG);  
}
.button_project, .button_brief {
  display: flex;
  background-color: var(--themeColor);
  height: 10em;
  width: 35em;
  border-top-left-radius: 6.5rem;
  border-bottom-right-radius: 6.5rem;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  margin: 5em 0 5em 0;
}

.button_project a, .button_brief a {
  background-color: var(--themeColor);
  color: var(--textColor);
  font-size: 1.6rem;
  font-weight: 500;
  padding: .65em 1em;
  border-radius: .3em;
  text-decoration: none;
}
.button_project a:hover, .button_brief a:hover {
  background-color: var(--sideBGcolor);
  color: var(--bgColor);
}

/*== END OF TEAM SECTION ==*/

/*== START OF SKILLS SECTION ==*/
.skills {
  border-top: .1rem solid var(--iconBGcolor);
  border-bottom: .1rem solid var(--iconBGcolor);
}
.skills .title {
  font-size: 1.4em;
  margin: 1.3em 0;
  
}
.skill-itms {
  display: flex;
  border: .1 solid black;
  border-top: .1rem solid var(--iconBGcolor);
}

.skill-log {
  background-image: url(../images/logo-imgs/softcodes-logo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: right;
  padding: 4em 4em 4em 2em;
  /* border-radius: 50%; */
  min-height: 2.5em;
  min-width: 2.5em;

}
.skill-descrip {
  /* background-color: lightgreen; */
  padding: 4em 0;
  text-transform: uppercase;
}
.skill-descrip div:nth-child(1) {
  font-size: 1.8em;
  margin-bottom: 1em;
}
.skill-descrip div:nth-child(2) {
  font-size: 1.3em;
}
/*== END OF SKILLS SECTION ==*/

/*== START OF EXPERTISE SECTION ==*/
.experts {
  border-bottom: .1rem solid var(--iconBGcolor);
}
.experts .title {
  font-size: 1.4em;
  margin: 1.3em 0;
  text-align: start;
}
.experts .my_table {
  width: 100%;
  border-collapse: collapse;
}
.my_table td {
  border: .1rem solid var(--themeColor);
  padding: 1.5em 1em;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
}
.my_table td:nth-child(1) {
  border-left: none;
}
.my_table td:nth-child(3) {
  border-right: none;
}
.experts .comment {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3em;
  margin: 1.3em 0;
}
.button_brief {
  display: flex;
  text-align: center;
  transition: 0.3s;
}
.button_brief:hover {
  background-color: var(--sideBGcolor);
} 
/*== END OF EXPERTISE SECTION ==*/

/*== START OF FOOTER SECTION ==*/
footer {
  /* margin-bottom: 8em; */
  position: relative;
  min-height: 60vh;
}
footer .contact-info {
  text-align: center;
  font-size: 1.4rem;
  padding: 2em 0;

}
footer .contact-info div:nth-child(1) {
  /* margin-top: 2em; */
  text-align: start;
  position: absolute;
  bottom: 0;
}
footer .contact-info div:nth-child(3) {
  margin-top: 2em;
}
footer .contact-info div:nth-child(4) {
  margin-top: 2em;
}
footer .contact-info div:nth-child(4) ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}
/*== END OF FOOTER SECTION ==*/


