/* Global variable */
:root{
  --sideBGcolor:#0000FF;
  --themeColor:#FFBF00;
  --textColor:#353535;
  --iconBGcolor:#2c2f3f;
  --bgColor:#f7f7f7;
}

/*== START FORM SECTION ==*/
.hero {
  text-align: center;
  margin: 0 auto;
}
.titel-form {
  margin-bottom: 5em
}
.titel-form ul li {
  font-size: 2em;
  text-transform: uppercase;
  line-height: 1.5em;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

form {
  transition: 0.3s;
}
form .box {
  margin-bottom: 2em;
}

input[type="text"],
input[type="email"],
textarea {
  min-width: 30rem;
  padding: 1.5em 2em;
  font-size: 1.6rem;
  transition: background-color 0.3s, color 0.3s; /* Add transition for smooth effect */
  border-style: none;
  border: .1rem solid var(--textColor);
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  background-color: var(--sideBGcolor); /* Change background color when focused */
  color: var(--bgColor); /* Change text color when focused */
  border-style: none;

}

/* .box input[type="text"]:focus,
.box input[type="email"]:focus,
.box textarea:focus {
  border-color: yellow;
} */

input[type="text"]:focus::placeholder,
input[type="email"]:focus::placeholder,
textarea:focus::placeholder {
  color: white;
}



textarea {
  min-width: 100%;
  padding: 1.5em 2em;
  resize: none;
  min-height: 10rem; /* Set an initial height */
}

button {
  padding: 1.5em 2em;
  min-width: 100%;
  border-style: none;
  font-size: 1.5rem;
  text-transform: uppercase;
}
button:hover {
  background-color: var(--sideBGcolor);
  color: var(--bgColor);
}
/*== END OF FORM SECTION ==*/

/*== START OF LOCATION ==*/
.map-location {
  margin-top: 5em;
  flex-basis: 40%;
  min-width: 40%;
  border-radius: 1rem;
  padding: 3em;
  text-align: center;
}
.map-location div:nth-child(1) {
  margin-bottom: 2em;
} 
.map-location div h4 {
  font-weight: 500;
  font-size: 2em;
  text-transform: uppercase;
}
/*== END OF LOCATION ==*/

/*== START OF FOOTER SECTION ==*/
footer {
  /* margin-bottom: 8em; */
  position: relative;
  min-height: 60vh;
}
footer .contact-info {
  text-align: center;
  font-size: 1.4rem;
  padding: 2em 0;

}
footer .contact-info div:nth-child(1) {
  /* margin-top: 2em; */
  text-align: start;
  position: absolute;
  bottom: 0;
}
footer .contact-info div:nth-child(3) {
  margin-top: 2em;
}
footer .contact-info div:nth-child(4) {
  margin-top: 2em;
}
footer .contact-info div:nth-child(4) ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}
/*== END OF FOOTER SECTION ==*/