/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS reset */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

/* Global variable */
:root{
  --sideBGcolor:#0000FF;
  --themeColor:#FFBF00;
  --textColor:#353535;
  --iconBGcolor:#2c2f3f;
  --bgColor:#f7f7f7;
}


/* container section */
body {
  background-color: #FFFFFF;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  /* border: 0.1rem solid red; */
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--textColor);
}



/*|| xs*/
@media screen and (min-width: 475px) {
  .container {
    max-width: 475px;
  }
  .nav-list {
    /* list-style: none; */
    /* display: flex; */
    gap: 1.5rem;
    /* width: max-content; */
    margin-bottom: 1em;
    /* transition: 0.3s; */
  }
  
}

/*|| sm*/
@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
  .nav-list {
    /* list-style: none; */
    /* display: flex; */
    gap: 7rem;
    /* width: max-content; */
    margin-bottom: 1.5em;
    /* transition: 0.3s; */
  }
}

/*|| md*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/*|| lg*/
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/*|| xlg*/
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/*|| 2xl*/
@media screen and (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}