/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS reset */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

/* Global variable */
:root{
  --sideBGcolor:#0000FF;
  --themeColor:#FFBF00;
  --textColor:#353535;
  --iconBGcolor:#2c2f3f;
  --bgColor:#f7f7f7;
}


/* container section */
body {
  background-color: #FFFFFF;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  /* border: 0.1rem solid red; */
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--textColor);
}

/*|| xxs*/
@media screen and (min-width: 360px) {
  .container {
    max-width: 360px;
  }
  .nav-list {
    font-size: 1.2em;
  }
  .hero-sec-title {
    font-size: 1.3em;
  }
  #gallery_container {
    border-top-left-radius: 6.5rem;
    border-top-right-radius: 3.5rem;
    border-bottom-right-radius: 6.5rem;
    border-bottom-left-radius: 3.5rem;
  }
  #intro_lines {
    font-size: 1.6rem;
  }
  #intro_title {
    font-size: 2.4rem;
    margin-bottom: .9em;
  }
  .project #title {
    margin: 5em 0 2em 0;
  }
  .project #title ul li {
    font-size: 2.5em;
  }
  #project_gallery > * {
    min-height: 20em;
    min-width: 30em;
    border-top-left-radius: 6.5rem;
    border-top-right-radius: 3.5rem;
    border-bottom-right-radius: 6.5rem;
    border-bottom-left-radius: 3.5rem;

  }
  #button_project {
    border-top-left-radius: 6.5rem;
    border-top-right-radius: 3.5rem;
    border-bottom-right-radius: 6.5rem;
    border-bottom-left-radius: 3.5rem;
  }


  #title-testimonial {
    font-size: 2em;
  }
  .testimonial {
    border-top-left-radius: 6.5rem;
    border-top-right-radius: 3.5rem;
    border-bottom-right-radius: 6.5rem;
    border-bottom-left-radius: 3.5rem;
  }
  
}

/*|| xs*/
@media screen and (min-width: 475px) {
  .container {
    max-width: 475px;
  }
  #nav-list {
    gap: 2.5rem;
    margin-bottom: 1em;
  }
  .hero {
    margin-bottom: 4.5em;
  }
  .hero-sec-title {
    margin-bottom: 2.5em;
  }
  
  #hero-sec-title li {
    font-size: 2.3em;
  }
  
  /*START OF INTRO-TEXT*/

  #intro_title {
    font-size: 2.8em;
    margin-top: 0;
  }
  #intro_lines {
    font-size: 1.7rem;
  }
  .learn-more-btn a {
    font-size: 1.3rem;
    padding: 1em 2em;
    border-radius: .3em;
  }
  /*== START OF PROJECT SECTION ==*/
  #project_gallery > * {
    min-height: 25em;
    min-width: 40em;
    border-top-left-radius: 7.5rem;
    border-top-right-radius: 4.5rem;
    border-bottom-right-radius: 7.5rem;
    border-bottom-left-radius: 4.5rem;

  }
  #button_project {
    border-top-left-radius: 7.5rem;
    border-top-right-radius: 4.5rem;
    border-bottom-right-radius: 7.5rem;
    border-bottom-left-radius: 4.5rem;
  }


  #title-testimonial {
    font-size: 2em;
  }
  .testimonial {
    border-top-left-radius: 6.5rem;
    border-top-right-radius: 3.5rem;
    border-bottom-right-radius: 6.5rem;
    border-bottom-left-radius: 3.5rem;
  }
  
  
}/*=== END OF min-width: 475px ===*/



/*|| sm*/
@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
  #nav-list {
    gap: 4.5rem;
    margin-bottom: 1em;
  }
  #nav-list li a {
    font-size: 1.6rem;
    font-weight: 400;
  }
  #hire-us-btn a {
    font-size: 2.5rem;
    font-weight: 500;
    background-color: var(--themeColor);
    padding: 1em 2em;
    border-radius: .3em;
  }
  .hero {
    margin-bottom: 4.5em;
  }
  .hero-sec-title {
    margin-bottom: 3.5em;
  }
  
  #hero-sec-title li {
    font-size: 2.8em;
    font-weight: 700;
  }
  #gallery_container {
    min-width: 20rem;
    min-height: 40rem;
    border-top-left-radius: 7.5rem;
    border-top-right-radius: 4.5rem;
    border-bottom-right-radius: 7.5rem;
    border-bottom-left-radius: 4.5rem;
  }
  /*START OF INTRO-TEXT*/

  #intro_title {
    font-size: 2.8em;
    margin-top: 0;
  }
  #intro_lines {
    font-size: 1.7rem;
  }
  .learn-more-btn a {
    font-size: 1.3rem;
    padding: 1em 2em;
    border-radius: .3em;
  }
  /*== START OF PROJECT SECTION ==*/
  #project_gallery > * {
    min-height: 25em;
    min-width: 40em;
    border-top-left-radius: 7.5rem;
    border-top-right-radius: 4.5rem;
    border-bottom-right-radius: 7.5rem;
    border-bottom-left-radius: 4.5rem;

  }
  #button_project {
    border-top-left-radius: 7.5rem;
    border-top-right-radius: 4.5rem;
    border-bottom-right-radius: 7.5rem;
    border-bottom-left-radius: 4.5rem;
  }


  #title-testimonial {
    font-size: 2em;
  }
  .testimonial {
    border-top-left-radius: 6.5rem;
    border-top-right-radius: 3.5rem;
    border-bottom-right-radius: 6.5rem;
    border-bottom-left-radius: 3.5rem;
  }
}/*=== END OF min-width: 640px ===*/

/*|| md*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/*|| lg*/
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/*|| xlg*/
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/*|| 2xl*/
@media screen and (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }

};