/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS reset */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

/* Global variable */
:root{
  --sideBGcolor:#0000FF;
  --themeColor:#FFBF00;
  --textColor:#353535;
  --iconBGcolor:#2c2f3f;
  --bgColor:#f7f7f7;
}


/* container section */
body {
  background-color: #FFFFFF;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  /* border: 0.1rem solid red; */
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--textColor);
}



/*|| xs*/
@media screen and (min-width: 475px) {
  .container {
    max-width: 475px;
  }
  .nav-list {
    gap: 1.5rem;
    margin-bottom: 1em;
  }
  .hero {
    margin-bottom: 4.5em;
  }
  .hero-sec-title {
    margin-bottom: 2.5em;
  }
  
  .hero ul li {
    font-size: 2.5em;
  }
  .gallery_container {
    /* background-color: var(--themeColor); */
    /* display: flex; */
    /* align-items: center; */
    /* border: .75rem solid var(--sideBGcolor); */
    border-top-left-radius: 6.5rem;
    border-bottom-right-radius: 6.5rem;
    /* border-style: double; */
    /* overflow: hidden; */
    /* position: relative; */
    min-width: 20rem;
    min-height: 30rem;
    /* margin: 0 auto; */
  
  }
  /*START OF INTRO-TEXT*/

  .intro_title {
    font-size: 2.5em;
    /* font-weight: 600; */
    margin-top: 1.5em;
  }
  .intro_text p {
    font-size: 1.6rem;
    /* align-self: self-start; */
  }
  .learn-more-btn a {
    font-size: 1.3rem;
    /* font-weight: 500; */
    /* background-color: var(--themeColor); */
    padding: 1em 2em;
    border-radius: .3em;
    /* text-decoration: none; */
    /* color: var(--textColor); */
  }
  /*== START OF PROJECT SECTION ==*/
  .project .title {
    margin: 4.5em 0 2em 0;
  }
  .project .title ul li {
    font-size: 2.5em;
    /* font-weight: 600; */
    
  }
  .project_gallery {
    /* display: flex; */
    /* flex-direction: column; */
    gap: 2em;
  }
  .project_gallery > * {
    /* position: absolute; */
    height: 20em;
    width: 35em;
    border-top-left-radius: 6.5rem;
    border-bottom-right-radius: 6.5rem;
  }
}/*=== END OF min-width: 475px ===*/

/*|| sm*/
@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
  .nav-list {
    gap: 7rem;
    margin-bottom: 1.5em;
  }
  .hero {
    margin-bottom: 1em;
  }
  .hero-sec-title {
    margin-bottom: 4em;
  }
  
  .hero ul li {
    font-size: 3.5em;
    word-spacing: .1rem;
  }
  .gallery_container {
    /* background-color: var(--themeColor); */
    /* display: flex; */
    /* align-items: center; */
    /* border: .75rem solid var(--sideBGcolor); */
    border-top-left-radius: 6.5rem;

    border-bottom-right-radius: 6.5rem;
    /* border-style: double; */
    /* overflow: hidden; */
    /* position: relative; */
    min-width: 14rem;
    min-height: 40rem;
    /* margin: 0 auto; */
  
  }
  /*START OF INTRO-TEXT*/

  .intro_title {
    font-size: 3.5em;
    /* font-weight: 600; */
    margin-top: 1em;
    margin-bottom: .5em;
  }
  .intro_text p {
    font-size: 1.8rem;
    /* align-self: self-start; */
  }
  .learn-more-btn a {
    font-size: 1.5rem;
    /* font-weight: 500; */
    /* background-color: var(--themeColor); */
    padding: 1em 4em;
    border-radius: .3em;
    /* text-decoration: none; */
    /* color: var(--textColor); */
  }
  /*== START OF PROJECT SECTION ==*/
  .project .title {
    margin: 6em 0 3em 0;
  }
  .project .title ul li {
    font-size: 3.5em;
    /* font-weight: 600; */
    
  }
  .project_gallery {
    /* display: flex; */
    /* flex-direction: column; */
    gap: 6em;
  }
  .project_gallery > * {
    /* position: absolute; */
    height: 30em;
    width: 50em;
    border-top-left-radius: 6.5rem;
    border-top-right-radius: 6.5rem;
    border-bottom-right-radius: 6.5rem;
    border-bottom-left-radius: 6.5rem;
}/*=== END OF min-width: 640px ===*/

/*|| md*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/*|| lg*/
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/*|| xlg*/
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/*|| 2xl*/
@media screen and (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}