/* Global variable */
:root{
  --sideBGcolor:#0000FF;
  --themeColor:#FFBF00;
  --textColor:#353535;
  --iconBGcolor:#2c2f3f;
  --bgColor:#f7f7f7;
}


.hero {
  text-align: center;
  margin-bottom: 4.5em;
}
.hero-sec-title {
  margin-bottom: 2.5em;
}

.hero ul li {
  font-size: 2em;
  font-weight: 600;
}

.gallery_container {
  background-color: var(--themeColor);
  display: flex;
  align-items: center;
  /* border: .75rem solid var(--sideBGcolor); */
  border-top-left-radius: 6.5rem;
  border-bottom-right-radius: 6.5rem;
  /* border-style: double; */
  overflow: hidden;
  position: relative;
  min-width: 20rem;
  min-height: 30rem;
  margin: 0 auto;

}

.box {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 1s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.box:nth-child(1) {
  background-image: url(../images/img-1.JPG);
}
.box:nth-child(2) {
  background-image: url(../images/img-2.JPG);
}
.box:nth-child(3) {
  background-image: url(../images/img-3.JPG);
}
.box:nth-child(4) {
  background-image: url(../images/img-4.JPG);
}
.box:nth-child(5) {
  background-image: url(../images/img-5.JPG);
}
.box:nth-child(6) {
  background-image: url(../images/img-6.JPG);
}
.box:nth-child(7) {
  background-image: url(../images/img-7.JPG);
}
.box:nth-child(8) {
  background-image: url(../images/img-8.JPG);
}
.box:nth-child(9) {
  background-image: url(../images/img-9.JPG);
}


/*START OF INTRO-TEXT*/
.intro_text {
  border-top: .1rem solid var(--iconBGcolor);
}
.intro_text:nth-child(n+1) {
  text-align: start;
}
.intro_title {
  font-size: 2em;
  font-weight: 600;
  /* margin-top: 1.5em; */
  margin-bottom: 1.2em;
}
.intro_text p {
  font-size: 1.6rem;
  /* align-self: self-start; */
}
.learn-more-btn {
  margin: 3em 0 7em 0;
}
.learn-more-btn a {
  font-size: 1.3rem;
  font-weight: 600;
  background-color: var(--themeColor);
  padding: 1em 2em;
  border-radius: .3em;
  text-decoration: none;
  color: var(--textColor);
}
.learn-more-btn a:hover {
  background-color: var(--sideBGcolor);
  color: var(--bgColor);
}
/*END OF INTRO-TEXT*/

/*== START OF PROJECT SECTION ==*/
.project {
  position: relative;
  display: flex;
  /* flex-wrap: wrap;
  text-align: center; */
  flex-direction: column;
  align-items: center;
  border-top: .1rem solid var(--iconBGcolor) ;
  border-bottom: .1rem solid var(--iconBGcolor) ;
}
.project .title {
  margin: 4.5em 0 2em 0;
}
.project .title ul li {
  font-size: 2em;
  font-weight: 600;
  
}
.project_gallery {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.project_gallery > * {
  /* position: absolute; */
  min-height: 20em;
  min-width: 25em;
  border-top-left-radius: 6.5rem;
  border-bottom-right-radius: 6.5rem;
}

.project_1 {
  background-color: lightblue;

}
.project_2 {
  background-color: lightcoral;
  
}
.project_3 {
  background-color: lightcyan;
  
}

.project_4 {
  background-color: lightgoldenrodyellow;
 
}

.project_5 {
  background-color: lightgray;
  
}
.button_project {
  display: flex;
  background-color: var(--themeColor);
  min-height: 8em;
  min-width: 20em;
  border-top-left-radius: 6.5rem;
  border-bottom-right-radius: 6.5rem;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  margin: 5em 0 5em 0;
  transition: 0.3s;
}
.button_project:hover {
  background-color: var(--sideBGcolor);
} 
.button_project a {
  background-color: var(--themeColor);
  color: var(--textColor);
  font-size: 1.6rem;
  font-weight: 500;
  padding: .65em 1em;
  border-radius: .3em;
  text-decoration: none;
}
.button_project a:hover {
  background-color: var(--sideBGcolor);
  color: var(--bgColor);
}

/*== END OF PROJECT SECTION ==*/


/*== START OF CLIENTS TABLE ==*/

.clients .title {
  font-size: 1.4em;
  margin: 1.3em 0;
  text-align: start;
}
.clients .my_table {
  width: 100%;
  border-collapse: collapse;
}
.my_table td {
  border: .1rem solid var(--themeColor);
  padding: 1.5em 1em;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
}

.my_table td:nth-child(1) {
  border-left: none;
}
.my_table td:nth-child(2) {
  border-right: .1rem solid var(--themeColor);
}
.my_table td:nth-child(3) {
  border-right: none;
  /* display: none; */
}
.my_table tr:nth-child(4) {
  display: none;
}
.clients .comment {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3em;
  margin: 1.5em 0;
  border-bottom: .1rem solid var(--iconBGcolor);
  padding-bottom: 1.5em;

}
/*== END OF CLIENTS TABLE ==*/

/*== START OF TESTIMONIALS SECTION ==*/

.testimonial-container {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0 4em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title-testimonial {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 2em;
  margin: 0 auto 1em auto;
}

.testimonial-slider {
  display: flex;
  width: fit-content;
  animation: slide 55s linear infinite;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 40rem;
  padding: 2em 5em;
  background-color: var(--sideBGcolor);
  margin-right: 2em;
  text-align: center;
}
.testimonial:nth-child(4) {
  display: none;
}

.testimonial .border {
  border: 1rem solid var(--themeColor);
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;

}
.testimonial img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  filter: grayscale(100%) contrast(150%);
}

.testimonial-message {
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--bgColor);
}

@keyframes slide {
  0% {
    transform: translateX(80);
  }
  100% {
    transform: translateX(calc(-40rem * 4));
  }
}
.testimonial-comment {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3em;
  margin: 1.5em 0;
}
/*== END OF TESTIMONIALS SECTION ==*/


/*== START OF FOOTER SECTION ==*/
footer {
  position: relative;
  min-height: 60vh;
  
}
footer .contact-info {
  text-align: center;
  border-bottom: none;
}
footer .contact-info div:nth-child(1) {
  /* margin-top: 2em; */
  text-align: start;
  position: absolute;
  bottom: 0;
}
footer .contact-info div:nth-child(3) {
  margin-top: 2em;
}
footer .contact-info div:nth-child(4) {
  margin-top: 2em;
}
footer .contact-info div:nth-child(4) ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}
/*== END OF FOOTER SECTION ==*/