/* Global variable */
:root{
  --sideBGcolor:#0000FF;
  --themeColor:#FFBF00;
  --textColor:#353535;
  --iconBGcolor:#2c2f3f;
  --bgColor:#f7f7f7;
}


header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  transition: 0.3s;
}
/* header div, nav {
  background-color: aquamarine;
  flex: 1;
} */

.nav-list {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  width: max-content;
  margin-bottom: 1em;
  transition: 0.3s;
}
.nav-list li a {
  font-size: 1.5em;
}
.nav-list li a:hover {
  color: var(--sideBGcolor);
}
header a {
  text-decoration: none;
  color: var(--textColor);
}
.logo {
  font-size: 2.5em;
  font-weight: 700;
}
.hire-us-btn a {
  font-size: 1.3em;
  background-color: var(--themeColor);
  padding: 1em 2em;
  border-radius: .3em;
}
.hire-us-btn a:hover {
  background-color: var(--sideBGcolor);
  color: var(--bgColor);
} 
.marquee_container {
  overflow: hidden;
  min-height: 100%;
  width: auto;
  border-top: .2rem solid #000;
  border-bottom: .2rem solid #000;
}
.marquee_text {
  display: flex;
  font-size: 3rem;
  color: var(--textColor);
  white-space: nowrap;
  animation: marquee 25s linear infinite;

}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.marquee_text p {
  font-size: 1em;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 4px;
  -webkit-text-stroke: .1rem #000;
  color: #FFFFFF;
}
.marquee_text div {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background-color: var(--sideBGcolor);
  margin: 0 1em;
  align-self: center;
}
.marquee_text div .second_start {
  background-color: #ffffff;
}

